@{
    ViewData["Title"] = "Vanilla Private Server Bot for World of Warcraft v1.12.1";
}

<div class="row">
    <div class="col-md-3">
        <div>
            @*<h2>Advertisements</h2>*@
        </div>
    </div>

    <div class="col-md-6">
        <div class="text-center">
            <h2>Attention!</h2>
        </div>
        <div>
            Account registration has been disabled
            Purchasing subscriptions has been disabled
            <br />
            <br />
            ZzukBot will be shutting down on 7/1/2019
        </div>
        <div class="text-center">
            <i class="fa fa-legal fa-5x icon-color" style="padding-top: 25px;"></i>
            <h2>Modern</h2>
        </div>
        <div>
            <p>
                ZzukBot v4 is a fully injected bot for v1.12.1 World of Warcraft private servers.
                ZzukBot utilizes v4.6.1 of the .NET Framework which is supported by Windows 7, 8, 8.1 and 10.
                ZzukBot also requires that the x86 version of the 2019 C++ Redistributable be installed as well.
            </p>
        </div>

        <div class="text-center">
            <i class="fa fa-cogs fa-5x icon-color" style="padding-top: 25px;"></i>
            <h2>Feature Packed</h2>
        </div>
        <div>
            <p>
                A number of default extension libraries are packaged with ZzukBot v4 meaning that everything works out of the box.
                Just load up a botbase and go!
            </p>
        </div>

        <div class="text-center">
            <i class="fa fa-wrench fa-5x icon-color" style="padding-top: 25px;"></i>
            <h2>Customizable</h2>
        </div>
        <div>
            <p>Since ZzukBot v4 is powered by extension libraries, anyone has the ability to create their own botbases, plugins and combat routines.</p>
        </div>
    </div>

    <div class="col-md-3">
        <div>
            @*<h2>Advertisements</h2>*@
        </div>
    </div>
</div>

